div.cadre{
	border: 1px dotted gray; 
	border-radius:10px; 
	margin: 10px; 
	padding: 10px; } 
	
	table.tab1 th{
	 border: 1px dotted gray; 
	 background: pink; 
	 padding: 5px; } 
	 
	 table.tab1 td{ 
	 border: 1px dotted gray;
	  background: white; 
	  padding: 5px; } 
	  
	  .errors{
	  color: red;
	  }